.bdy {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #25a83b;
  overflow: hidden;
  position: relative;
}

.welcome-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  font-weight: bold;
  z-index: 2;
}

.circle {
  position: absolute;
  bottom: -150px;
  width: 5px;
  height: 5px;
  background-color: white;
  border-radius: 100%;
  animation: slideUpExpand 1.5s ease-out forwards;
}

.bdy.white-bg {
  background-color: white;
}

.title {
  color: #25a83b;
  font-size: 3rem;
  font-weight: bold;
  opacity: 0;
  animation: fadeIn 1s ease-out 3s forwards, zoomOut 1.5s ease-in 7s forwards;
  z-index: 3;
}

.title {
  color: #25a83b;
  font-size: 3rem;
  font-weight: bold;
  opacity: 0;
  animation:
    fadeIn 1s ease-out 3s forwards,
    shakeWave 1.3s ease-in-out 4.2s forwards,
    zoomOut 1.5s ease-in 7s forwards;
  z-index: 3;
}

@keyframes shakeWave {
  0% {
    transform: translateX(0);
  }

  10% {
    transform: translateX(-8px);
  }

  20% {
    transform: translateX(8px);
  }

  30% {
    transform: translateX(-8px);
  }

  40% {
    transform: translateX(8px);
  }

  50% {
    transform: translateX(-5px);
  }

  60% {
    transform: translateX(5px);
  }

  70% {
    transform: translateX(-3px);
  }

  80% {
    transform: translateX(3px);
  }

  90% {
    transform: translateX(-2px);
  }

  100% {
    transform: translateX(0);
  }
}


@keyframes slideUpExpand {
  0% {
    bottom: -150px;
    width: 50px;
    height: 50px;
    border-radius: 90%;
  }

  50% {
    bottom: 50%;
    width: 300px;
    height: 300px;
  }

  100% {
    bottom: 0;
    width: 100vw;
    height: 100vh;
    border-radius: 0;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes zoomOut {
  0% {
    transform: scale(1);
    opacity: 1;
  }

  50% {
    transform: scale(1.5);
    opacity: 1;
  }

  100% {
    transform: scale(5);
    opacity: 0;
  }
}