*{
    margin: 0;
    padding: 0;
  }
  body{
    height: 100vh;
    background: linear-gradient(267deg, #F9FAFB 9.36%, #F9FAFB 100%);
    color: rgb(0, 0, 0);
    font-family: "Lato", sans-serif;
  }
